<p>Estimado <%=recipientName%>, a continuacion las novedades a la fecha: <%=fecha%></p>
<br/>
<p><%=message%></p>
<br/>
<p><em>Thank you</em> for being a friend.</p>
<p>Hasta la victoria siempre,<br/><%=senderName%></p>